/**
 * @name wolfi
 * @author wolfi
 * @version 1.0.5
 * @description Allows you to use a background image without greatly altering the basic look of Discord.
*/

@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/BasicBackground.css);
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');


:root {
  --background: url('https://i.imgur.com/7kHQR7q.png');
  --backgroundsize: cover;
  --backgroundposition: center;
  --backgroundblur: 0px;
  --popout: transparent;
  --popoutsize: var(--backgroundsize);
  --backgroundposition: center;
  --popoutblur: 8px;
  --transparencycolor:12, 12, 12;
  --accentcolor: 12,12,12;
  --backdrop: rgb(0,0,0,0.85);
  --textshadow: rgb(0,0,0,0);
  --transparencyalpha: 0;
  --messagetransparency: 0.42;
  --guildchanneltransparency: 1;
  --chatinputtransparency: 0;
  --memberlisttransparency: 1;
  --font: Kalam;
  --textbrightest: 255,255,255;
  --textbrighter: 255,255,255;
  --textbright: 255,255,255;
  --textdark: 255,255,255;
  --textdarker: 255,255,255;
  --textdarkest: 255,255,255;
  --settingsicons: 1;
  --backdropsize: var(--background-size);
  --backdropblur: 0px;
  --version1_0_5: none;
  --rs-small-spacing: 0px;
  --rs-medium-spacing: 0px;
  --rs-large-spacing: 0px;
  --rs-small-width: 2px;
  --rs-medium-width: 1.5px;
  --rs-large-width: 1.5px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #673AB7;
  --rs-idle-color: #009688;
  --rs-dnd-color: #2196F3;
  --rs-offline-color: #FFFFFF;
  --rs-streaming-color: #643da7;
  --rs-phone-visible: block;
}

/* Any custom CSS below here */



